video {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: block;
}

.footer {
  height: 100px;
  background-color: #ff7b0f;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video_ovato {
  margin: 20px 0px;
  background-color: #ccc;
}

#rules {
  margin: 20px 0px;
  padding: 10px;
}

.img-fluid {
  width: 100%;
}

#main-ads h1 {
  color: #fff;
}

#plain {
  background-color: rgba(255, 255, 255, 0.0);
}

#plain {
  padding: 0px 0px !important;
}

#plain_part_2 {
  padding: 0px;
  margin-top: -32px;
}

#brazil {
  padding: 0px;
}

#main-ads .jumbotron h1 {
  font-weight: 300;
}

#main-ads .jumbotron strong {
  font-weight: 600 !important;
}

#signup {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.0);
}

.signup2 {
  font-size: 2.3em;
  font-weight: 300;
}

#video-ovato {
  text-align: center;  
  margin-top: -30px;
  margin-bottom: 33px;
  /*
  background: url(../../assets/img/cat-dance.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 18%;
  */
}

#video-ovato2 {
  text-align: center;  
  margin-top: -30px;
  margin-bottom: 33px;
  background: url(../../assets/img/bitovation_dance_contest2.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 25%;
}

.jumbotron.blank {
  background-color: rgba(255, 255, 255, 0.0);
  position: absolute; 
  margin-top: -400px; 
  display: flex; 
  align-items: center; 
  flex-direction: column; 
  justify-content: center; 
  width: 100%
}

.jumbotron.blank2 h1 {
  color: black;
  font-weight: normal;
}

.jumbotron.blank2 {
  background-color: rgba(255, 255, 255, 0.0);    
  display: flex; 
  align-items: center; 
  flex-direction: column; 
  justify-content: center; 
  width: 100%
}

.jumbotron.video2 {    
  position: absolute; 
}

#main-ads2 .jumbotron {
    background-color: rgba(68,67,67,0.75);    
    position: absolute; 
    margin-top: -90px; 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    justify-content: center;     
}

#main-ads2 .jumbotron h1{
  color: white;
}

.jumbotron.blank h1 {
  color: black;
  font-weight: normal;
}

@media (max-width: 768px){
  .jumbotron.blank {    
    margin-top: -250px; 
  }

  .jumbotron.blank h1 {  
    font-size: 25px;
  }

}


#nav_contest {
  box-shadow: rgba(0,0,0,.34) 0 0 4px;
  background-color: #fff;
}

#logo {
  width: 180px;
}

#divbrazil {
  margin-top: -30px;
}

#nav_contest li.rig a:hover {
  font-size: 13px;
  color: #f59607;
}

#nav_contest li a:hover {
  font-size: 13px;
  color: #ff910c;
  border-top: solid 1px #ff910c;
}

#nav_contest li.reg a {
  font-size: 13px;
  color: #ff910c;
  border-top: solid 1px #ff910c;
}

#nav_contest li.reg a {
  font-size: 13px;
  padding: 10px 7px;
  border: #ff8b0d solid 1px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 12px;
}

#nav_contest li .reg a {
}

#nav_contest li.rig a {
  font-size: 13px;
  color: #ff910c;
}

#nav_contest li a {
  font-size: 13px;
  color: #000;
  border-top: solid 1px #fff;
}

.reg {
  padding: 7px 7px;
  border: #ff8b0d solid 1px;
  border-top: #ff8b0d solid 1px !important;
  border-radius: 10px;
  display: inline-block;
}

i.fa.fa-facebook{
  color: #3a589e !important;
}

i.fa.fa-twitter{
  color: #26abe1 !important;
}


i.fa.fa-youtube-play{
  color: #ed2024!important;
}

i.fa.fa-linkedin{
  color: #0976b6!important  
}

i.fa.fa-instagram {
   color: violet !important   
}
